@font-face {
  font-family: 'montserrat';
  src: url('../type/montserrat/montserrat-regular-webfont.eot');
  src: url('../type/montserrat/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../type/montserrat/montserrat-regular-webfont.woff') format('woff'), url('../type/montserrat/montserrat-regular-webfont.ttf') format('truetype'), url('../type/montserrat/montserrat-regular-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'crimson';
  src: url('../type/crimson/CrimsonText-Regular.eot');
  src: url('../type/crimson/CrimsonText-Regular.eot?#iefix') format('embedded-opentype'), url('../type/crimson/CrimsonText-Regular.woff') format('woff'), url('../type/crimson/CrimsonText-Regular.ttf') format('truetype'), url('../type/crimson/CrimsonText-Regular.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 18px;
  line-height: 22px;
  font-family: Helvetica, sans-serif;
}
::selection {
  /*background: #;*/
}
::-moz-selection {
  /*background: #;*/
}
a {
  border: none;
}
a img {
  border: none;
}
@-webkit-keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
#master {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  font-family: helvetica, arial, sans-serif;
  line-height: 18px;
  font-size: 14px;
}
.put {
  margin: auto;
  width: 1024px;
  height: 100%;
  position: relative;
}
#copycopy {
  position: fixed;
  height: 25%;
  width: 25%;
  top: 50%;
  left: 50%;
  margin: -25% 0 0 -25%;
  background-color: grey;
  z-index: 100;
}
.language_marker {
  position: fixed;
  height: 50%;
  width: 5%;
  z-index: 10;
  cursor: pointer;
  -webkit-transition: background-color .5s ease-in-out, color .5s ease-in-out;
  -moz-transition: background-color .5s ease-in-out, color .5s ease-in-out;
  -o-transition: background-color .5s ease-in-out, color .5s ease-in-out;
  transition: background-color .5s ease-in-out, color .5s ease-in-out;
}
.language_marker.strange_from {
  top: 0;
  left: 0;
  background-color: #ffffff;
  color: #51b8b3;
  font-family: montserrat;
}
.pardon.language_marker.strange_from {
  background-color: #51b8b3;
  color: #ffffff;
}
.language_marker.strange_to {
  top: 0;
  right: 0;
  background-color: #51b8b3;
  color: #ffffff;
  font-family: crimson;
}
.pardon.language_marker.strange_to {
  background-color: #ffffff;
  color: #51b8b3;
}
.language_marker.mother_from {
  bottom: 0;
  left: 0;
  background-color: #51b8b3;
  color: #ffffff;
  font-family: crimson;
}
.pardon.language_marker.mother_from {
  background-color: #ffffff;
  color: #51b8b3;
}
.language_marker.mother_to {
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  color: #51b8b3;
  font-family: montserrat;
}
.pardon.language_marker.mother_to {
  background-color: #51b8b3;
  color: #ffffff;
}
.language_marker span {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20px;
  width: 20px;
  margin: -10px 0 0 -10px;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
}
.strange_from.language_marker span {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.strange_to.language_marker span {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.mother_from.language_marker span {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.mother_to.language_marker span {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.language {
  position: absolute;
  width: 50%;
  height: 50%;
  z-index: 2;
  overflow: hidden;
}
.language.strange_from {
  top: 0;
  left: 0;
}
.language.strange_to {
  top: 0;
  right: 0;
}
.language.mother_from {
  bottom: 0;
  left: 0;
}
.language.mother_to {
  bottom: 0;
  right: 0;
}
.strange_to.language ::selection {
  background-color: #51b8b3;
  color: #ffffff;
}
.mother_to.language ::selection {
  background-color: #ffffff;
  color: #51b8b3;
}
.strange_to.language ::-moz-selection {
  background-color: #51b8b3;
  color: #ffffff;
}
.mother_to.language ::-moz-selection {
  background-color: #ffffff;
  color: #51b8b3;
}
.language .interact {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 10px;
}
.strange_from.language .interact {
  background-color: #51b8b3;
  padding-left: calc(10px + 10%);
}
.strange_to.language .interact {
  background-color: #ffffff;
  padding-right: calc(10px + 10%);
}
.mother_from.language .interact {
  background-color: #ffffff;
  padding-left: calc(10px + 10%);
}
.mother_to.language .interact {
  background-color: #51b8b3;
  padding-right: calc(10px + 10%);
}
.language .shade {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.strange_from.language .shade {
  -webkit-transform: rotate(45deg) translate3d(500%, 250%, 0) scale(5);
  -moz-transform: rotate(45deg) translate3d(500%, 250%, 0) scale(5);
  -ms-transform: rotate(45deg) translate3d(500%, 250%, 0) scale(5);
  -o-transform: rotate(45deg) translate3d(500%, 250%, 0) scale(5);
  transform: rotate(45deg) translate3d(500%, 250%, 0) scale(5);
  color: #51b8b3;
  background-color: #ffffff;
  transform-origin: bottom right;
}
.strange_to.language .shade {
  -webkit-transform: rotate(-45deg) translate3d(-500%, 250%, 0) scale(5);
  -moz-transform: rotate(-45deg) translate3d(-500%, 250%, 0) scale(5);
  -ms-transform: rotate(-45deg) translate3d(-500%, 250%, 0) scale(5);
  -o-transform: rotate(-45deg) translate3d(-500%, 250%, 0) scale(5);
  transform: rotate(-45deg) translate3d(-500%, 250%, 0) scale(5);
  color: #ffffff;
  background-color: #51b8b3;
  transform-origin: bottom left;
}
.mother_from.language .shade {
  -webkit-transform: rotate(-45deg) translate3d(500%, -250%, 0) scale(5);
  -moz-transform: rotate(-45deg) translate3d(500%, -250%, 0) scale(5);
  -ms-transform: rotate(-45deg) translate3d(500%, -250%, 0) scale(5);
  -o-transform: rotate(-45deg) translate3d(500%, -250%, 0) scale(5);
  transform: rotate(-45deg) translate3d(500%, -250%, 0) scale(5);
  color: #ffffff;
  background-color: #51b8b3;
  transform-origin: top right;
}
.mother_to.language .shade {
  -webkit-transform: rotate(45deg) translate3d(-500%, -250%, 0) scale(5);
  -moz-transform: rotate(45deg) translate3d(-500%, -250%, 0) scale(5);
  -ms-transform: rotate(45deg) translate3d(-500%, -250%, 0) scale(5);
  -o-transform: rotate(45deg) translate3d(-500%, -250%, 0) scale(5);
  transform: rotate(45deg) translate3d(-500%, -250%, 0) scale(5);
  color: #51b8b3;
  background-color: #ffffff;
  transform-origin: top left;
}
.language .shade .expand {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.strange_from.language .shade .expand {
  -webkit-transform: rotate(-45deg) translate3d(-20%, -10%, 0) scale(0.2);
  -moz-transform: rotate(-45deg) translate3d(-20%, -10%, 0) scale(0.2);
  -ms-transform: rotate(-45deg) translate3d(-20%, -10%, 0) scale(0.2);
  -o-transform: rotate(-45deg) translate3d(-20%, -10%, 0) scale(0.2);
  transform: rotate(-45deg) translate3d(-20%, -10%, 0) scale(0.2);
  transform-origin: left center;
  padding-left: calc(10px + 10%);
}
.strange_to.language .shade .expand {
  -webkit-transform: rotate(45deg) translate3d(20%, -10%, 0) scale(0.2);
  -moz-transform: rotate(45deg) translate3d(20%, -10%, 0) scale(0.2);
  -ms-transform: rotate(45deg) translate3d(20%, -10%, 0) scale(0.2);
  -o-transform: rotate(45deg) translate3d(20%, -10%, 0) scale(0.2);
  transform: rotate(45deg) translate3d(20%, -10%, 0) scale(0.2);
  transform-origin: right center;
  padding-right: calc(10px + 10%);
}
.mother_from.language .shade .expand {
  -webkit-transform: rotate(45deg) translate3d(-20%, 10%, 0) scale(0.2);
  -moz-transform: rotate(45deg) translate3d(-20%, 10%, 0) scale(0.2);
  -ms-transform: rotate(45deg) translate3d(-20%, 10%, 0) scale(0.2);
  -o-transform: rotate(45deg) translate3d(-20%, 10%, 0) scale(0.2);
  transform: rotate(45deg) translate3d(-20%, 10%, 0) scale(0.2);
  transform-origin: left center;
  padding-left: calc(10px + 10%);
}
.mother_to.language .shade .expand {
  -webkit-transform: rotate(-45deg) translate3d(20%, 10%, 0) scale(0.2);
  -moz-transform: rotate(-45deg) translate3d(20%, 10%, 0) scale(0.2);
  -ms-transform: rotate(-45deg) translate3d(20%, 10%, 0) scale(0.2);
  -o-transform: rotate(-45deg) translate3d(20%, 10%, 0) scale(0.2);
  transform: rotate(-45deg) translate3d(20%, 10%, 0) scale(0.2);
  transform-origin: right center;
  padding-right: calc(10px + 10%);
}
.language .shade .expand .shadow .word {
  position: relative;
  top: 3px;
}
.language .shade.pardon {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  transform-origin: center center !important;
}
.strange_from.language .shade.pardon {
  -webkit-transform: rotate(45deg) translate3d(0%, 0%, 0) scale(5);
  -moz-transform: rotate(45deg) translate3d(0%, 0%, 0) scale(5);
  -ms-transform: rotate(45deg) translate3d(0%, 0%, 0) scale(5);
  -o-transform: rotate(45deg) translate3d(0%, 0%, 0) scale(5);
  transform: rotate(45deg) translate3d(0%, 0%, 0) scale(5);
}
.strange_to.language .shade.pardon {
  -webkit-transform: rotate(-45deg) translate3d(0%, 0%, 0) scale(5);
  -moz-transform: rotate(-45deg) translate3d(0%, 0%, 0) scale(5);
  -ms-transform: rotate(-45deg) translate3d(0%, 0%, 0) scale(5);
  -o-transform: rotate(-45deg) translate3d(0%, 0%, 0) scale(5);
  transform: rotate(-45deg) translate3d(0%, 0%, 0) scale(5);
}
.mother_from.language .shade.pardon {
  -webkit-transform: rotate(-45deg) translate3d(0%, 0%, 0) scale(5);
  -moz-transform: rotate(-45deg) translate3d(0%, 0%, 0) scale(5);
  -ms-transform: rotate(-45deg) translate3d(0%, 0%, 0) scale(5);
  -o-transform: rotate(-45deg) translate3d(0%, 0%, 0) scale(5);
  transform: rotate(-45deg) translate3d(0%, 0%, 0) scale(5);
}
.mother_to.language .shade.pardon {
  -webkit-transform: rotate(45deg) translate3d(0%, 0%, 0) scale(5);
  -moz-transform: rotate(45deg) translate3d(0%, 0%, 0) scale(5);
  -ms-transform: rotate(45deg) translate3d(0%, 0%, 0) scale(5);
  -o-transform: rotate(45deg) translate3d(0%, 0%, 0) scale(5);
  transform: rotate(45deg) translate3d(0%, 0%, 0) scale(5);
}
.language .shade.pardon .expand {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  transform-origin: center center;
}
.strange_from.language .shade.pardon .expand {
  -webkit-transform: rotate(-45deg) translate3d(0%, 0%, 0) scale(0.2);
  -moz-transform: rotate(-45deg) translate3d(0%, 0%, 0) scale(0.2);
  -ms-transform: rotate(-45deg) translate3d(0%, 0%, 0) scale(0.2);
  -o-transform: rotate(-45deg) translate3d(0%, 0%, 0) scale(0.2);
  transform: rotate(-45deg) translate3d(0%, 0%, 0) scale(0.2);
}
.strange_to.language .shade.pardon .expand {
  -webkit-transform: rotate(45deg) translate3d(0%, 0%, 0) scale(0.2);
  -moz-transform: rotate(45deg) translate3d(0%, 0%, 0) scale(0.2);
  -ms-transform: rotate(45deg) translate3d(0%, 0%, 0) scale(0.2);
  -o-transform: rotate(45deg) translate3d(0%, 0%, 0) scale(0.2);
  transform: rotate(45deg) translate3d(0%, 0%, 0) scale(0.2);
}
.mother_from.language .shade.pardon .expand {
  -webkit-transform: rotate(45deg) translate3d(0%, 0%, 0) scale(0.2);
  -moz-transform: rotate(45deg) translate3d(0%, 0%, 0) scale(0.2);
  -ms-transform: rotate(45deg) translate3d(0%, 0%, 0) scale(0.2);
  -o-transform: rotate(45deg) translate3d(0%, 0%, 0) scale(0.2);
  transform: rotate(45deg) translate3d(0%, 0%, 0) scale(0.2);
}
.mother_to.language .shade.pardon .expand {
  -webkit-transform: rotate(-45deg) translate3d(0%, 0%, 0) scale(0.2);
  -moz-transform: rotate(-45deg) translate3d(0%, 0%, 0) scale(0.2);
  -ms-transform: rotate(-45deg) translate3d(0%, 0%, 0) scale(0.2);
  -o-transform: rotate(-45deg) translate3d(0%, 0%, 0) scale(0.2);
  transform: rotate(-45deg) translate3d(0%, 0%, 0) scale(0.2);
}
.block {
  position: relative;
  padding: 10px 10px;
  font-size: 24px;
  line-height: 25px;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.resizedText .block {
  font-size: 14px;
  line-height: 20px;
}
.block > * {
  background-color: transparent;
  width: 100%;
  border: 0;
  resize: none;
  margin: 0;
  padding: 0;
  min-height: 30px;
  font-size: 24px;
  line-height: 30px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.resizedText .block > * {
  min-height: 20px;
  font-size: 14px;
  line-height: 20px;
}
.block > *:focus {
  outline: none;
}
.strange_from .block > *,
.mother_to .block > * {
  color: #ffffff;
  font-family: montserrat;
}
.strange_to .block > *,
.mother_from .block > * {
  color: #51b8b3;
  font-family: crimson;
}
.strange_from .shade .block > *,
.mother_to .shade .block > * {
  color: #51b8b3;
}
.strange_to .shade .block > *,
.mother_from .shade .block > * {
  color: #ffffff;
}
.strange_from .selected.block > *,
.mother_to .selected.block > * {
  color: #51b8b3 !important;
}
.strange_to .selected.block > *,
.mother_from .selected.block > * {
  color: #ffffff !important;
}
.strange_from .block.selected,
.mother_to .block.selected {
  background-color: #ffffff;
  color: #51b8b3 !important;
}
.strange_to .block.selected,
.mother_from .block.selected {
  background-color: #51b8b3;
  color: #ffffff !important;
}
.block .closer {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 0;
  cursor: pointer;
  opacity: 0;
  transform-origin: center center;
  z-index: 10;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.strange_from .block .closer,
.mother_from .block .closer {
  right: -35px;
}
.mother_to .block .closer,
.strange_to .block .closer {
  left: -35px;
}
.hovered.block .closer {
  opacity: 1;
}
.block .closer:before,
.block .closer:after {
  content: '';
  position: absolute;
  height: 4px;
  width: 16px;
  top: 50%;
  left: 50%;
  margin: -2px 0 0 -8px;
}
.strange_from .block .closer:before,
.strange_from .block .closer:after,
.mother_to .block .closer:before,
.mother_to .block .closer:after {
  background-color: #ffffff;
}
.strange_to .block .closer:before,
.strange_to .block .closer:after,
.mother_from .block .closer:before,
.mother_from .block .closer:after {
  background-color: #51b8b3;
}
.block .closer:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.block .closer:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.block .actualBlock {
  display: block;
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.selected.block .actualBlock {
  width: 100%;
  height: 100%;
}
.block .actualBlock p {
  position: absolute;
  height: 1px;
  width: 1px;
  top: -1px;
  left: -1px;
  overflow: hidden;
  margin: 0;
}
.block textarea {
  padding: 10px;
}
textarea {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  z-index: 1;
}
.copy {
  position: relative;
  opacity: 0;
  z-index: -1;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.loader {
  position: absolute;
  height: 5px;
  width: 5px;
  min-height: 5px !important;
  top: 22px;
  left: -3px;
  border-radius: 10px;
  display: none;
  -webkit-animation: loading .3s infinite;
  -moz-animation: loading .3s infinite;
  -o-animation: loading .3s infinite;
  animation: loading .3s infinite;
}
.loading .loader {
  display: block;
}
.strange_to .loader {
  background-color: #51b8b3;
}
.mother_to .loader {
  background-color: #ffffff;
}
.word {
  display: inline;
  list-style: none;
  position: relative;
  margin-right: 6px;
  padding: 0;
  margin: 0;
}
.word.selected {
  padding: 0 3px;
  margin: 0 3px 0 -3px;
  border-radius: 3px;
}
.word.selected + .selected {
  margin-left: 0;
}
.strange_to .word.selected {
  background-color: #51b8b3;
  color: #ffffff;
}
.mother_to .word.selected {
  background-color: #ffffff;
  color: #51b8b3;
}
.word > span:hover {
  border-bottom: 1px dotted;
  cursor: pointer;
}
.strange_to .word > span:hover {
  border-color: #51b8b3;
}
.mother_to .word > span:hover {
  border-color: #ffffff;
}
.open.word > span {
  border-bottom: 1px dashed;
  cursor: pointer;
}
.strange_to .open.word > span {
  border-color: #51b8b3;
}
.mother_to .open.word > span {
  border-color: #ffffff;
}
.word .actual {
  cursor: pointer;
  position: relative;
  top: 3px;
}
.word ul {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 27px;
  border-radius: 5px;
  z-index: 20;
}
.open.word ul {
  margin: 5px 0 0 -10px;
}
.strange_to .open.word ul {
  background-color: #ffffff;
  border: 1px #51b8b3 solid;
}
.mother_to .open.word ul {
  background-color: #51b8b3;
  border: 1px #ffffff solid;
}
.word ul .symmetrical {
  display: none;
  padding: 0 10px;
  white-space: nowrap;
}
.open.word ul .symmetrical {
  display: block;
}
.strange_to .word ul .symmetrical.chosen {
  background-color: #51b8b3;
  color: #ffffff;
}
.mother_to .word ul .symmetrical.chosen {
  background-color: #ffffff;
  color: #51b8b3;
}
.word ul .symmetrical:hover {
  cursor: pointer;
}
.strange_to .word ul .symmetrical:hover {
  background-color: #51b8b3;
  color: #ffffff;
}
.mother_to .word ul .symmetrical:hover {
  background-color: #ffffff;
  color: #51b8b3;
}
.quadrat {
  position: absolute;
  height: 14px;
  width: 14px;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -7px;
  overflow: hidden;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: height .1s cubic-bezier(0.785, 0.135, 0.150, 0.860), width .1s cubic-bezier(0.785, 0.135, 0.150, 0.860), margin .1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -moz-transition: height .1s cubic-bezier(0.785, 0.135, 0.150, 0.860), width .1s cubic-bezier(0.785, 0.135, 0.150, 0.860), margin .1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -o-transition: height .1s cubic-bezier(0.785, 0.135, 0.150, 0.860), width .1s cubic-bezier(0.785, 0.135, 0.150, 0.860), margin .1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  transition: height .1s cubic-bezier(0.785, 0.135, 0.150, 0.860), width .1s cubic-bezier(0.785, 0.135, 0.150, 0.860), margin .1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  cursor: pointer;
  z-index: 13;
}
.quadrat:hover,
.quadrat.ic {
  height: 100px;
  width: 100px;
  margin: -50px 0 0 -50px;
}
.quadrat:hover .quadrant:before,
.quadrat.ic .quadrant:before {
  height: 25px !important;
  width: 25px !important;
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -moz-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}
.quadrat:hover .one:before,
.quadrat.ic .one:before {
  bottom: -12.5px !important;
  right: -12.5px !important;
}
.quadrat:hover .two:before,
.quadrat.ic .two:before {
  bottom: -12.5px !important;
  left: -12.5px !important;
}
.quadrat:hover .three:before,
.quadrat.ic .three:before {
  top: -12.5px !important;
  right: -12.5px !important;
}
.quadrat:hover .four:before,
.quadrat.ic .four:before {
  top: -12.5px !important;
  left: -12.5px !important;
}
.quadratShowing .quadrat {
  position: relative;
  top: auto;
  left: auto;
  margin: 0 auto;
  height: 60px;
  width: 60px;
  z-index: auto;
  border: 1px #51b8b3 solid;
  -webkit-backface-visibility: hidden;
}
.quadrat .spin {
  height: 200px;
  width: 200px;
  top: 50%;
  left: 50%;
  position: absolute;
  margin: -100px 0 0 -100px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.quadrat .spin .unlock {
  position: fixed;
  height: 25px;
  width: 25px;
  top: 50%;
  left: 50%;
  margin: -12.5px 0 0 -12.5px;
  z-index: 1;
}
.quadrat .spin .unlock:hover {
  height: 50px;
  width: 50px;
  margin: -25px 0 0 -25px;
}
.quadrat .spin .unlock:hover ~ .quadrant:before {
  height: 50px !important;
  width: 50px !important;
}
.quadrat .spin .unlock:hover ~ .one:before {
  bottom: -25px !important;
  right: -25px !important;
}
.quadrat .spin .unlock:hover ~ .two:before {
  bottom: -25px !important;
  left: -25px !important;
}
.quadrat .spin .unlock:hover ~ .three:before {
  top: -25px !important;
  right: -25px !important;
}
.quadrat .spin .unlock:hover ~ .four:before {
  top: -25px !important;
  left: -25px !important;
}
.quadrat .spin .quadrant {
  position: fixed;
  width: 50%;
  height: 50%;
  overflow: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -moz-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}
.quadrat .spin .quadrant:before {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-radius: 50px;
  -webkit-transition: all 0.1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -moz-transition: all 0.1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -o-transition: all 0.1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  transition: all 0.1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}
.quadrat .spin .one {
  top: 0;
  left: 0;
  background-color: #ffffff;
}
.ic.quadrat .spin .one {
  background-color: #51b8b3;
}
.quadrat .spin .one:before {
  bottom: 0;
  right: 0;
  background-color: #51b8b3;
}
.ic.quadrat .spin .one:before {
  background-color: #ffffff;
}
.quadrat .spin .two {
  top: 0;
  right: 0;
  background-color: #51b8b3;
}
.ic.quadrat .spin .two {
  background-color: #ffffff;
}
.quadrat .spin .two:before {
  bottom: 0;
  left: 0;
  background-color: #ffffff;
}
.ic.quadrat .spin .two:before {
  background-color: #51b8b3;
}
.quadrat .spin .three {
  bottom: 0;
  left: 0;
  background-color: #51b8b3;
}
.ic.quadrat .spin .three {
  background-color: #ffffff;
}
.quadrat .spin .three:before {
  top: 0;
  right: 0;
  background-color: #ffffff;
}
.ic.quadrat .spin .three:before {
  background-color: #51b8b3;
}
.quadrat .spin .four {
  bottom: 0;
  right: 0;
  background-color: #ffffff;
}
.ic.quadrat .spin .four {
  background-color: #51b8b3;
}
.quadrat .spin .four:before {
  top: 0;
  left: 0;
  background-color: #51b8b3;
}
.ic.quadrat .spin .four:before {
  background-color: #ffffff;
}
#layover {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  visibility: hidden;
}
#layover.lay {
  visibility: visible;
}
#layover .closer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 50px;
  width: 50px;
  z-index: 10;
  background-color: #51b8b3;
  border-radius: 50px;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  border: 2px #51b8b3 solid;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.open#layover .closer {
  opacity: 1;
  visibility: visible;
}
#layover .closer:hover {
  background-color: #ffffff;
}
#layover .closer:hover:before,
#layover .closer:hover:after {
  background-color: #51b8b3;
}
#layover .closer:before,
#layover .closer:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  left: 10px;
  background-color: #ffffff;
}
#layover .closer:before {
  top: 20px;
}
#layover .closer:after {
  bottom: 20px;
}
.layover_interior {
  position: relative;
  height: 100vh;
  width: 100vh;
  margin: auto;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.layover_interior .about,
.layover_interior .hello,
.layover_interior .langselect_to {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.lay .layover_interior .about,
.lay .layover_interior .hello,
.lay .layover_interior .langselect_to {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.layover_interior .help,
.layover_interior .langselect_from {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.lay .layover_interior .help,
.lay .layover_interior .langselect_from {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.open_about .layover_interior .about,
.open_help .layover_interior .help,
.open_langselect_from .layover_interior .langselect_from,
.open_langselect_to .layover_interior .langselect_to {
  height: 100% !important;
  background-color: #ffffff;
}
.open_about .layover_interior .about h1,
.open_help .layover_interior .help h1,
.open_langselect_from .layover_interior .langselect_from h1,
.open_langselect_to .layover_interior .langselect_to h1 {
  color: #51b8b3;
  background-color: #ffffff;
  z-index: 2;
}
.open_about .layover_interior .about .layover_content,
.open_help .layover_interior .help .layover_content,
.open_langselect_from .layover_interior .langselect_from .layover_content,
.open_langselect_to .layover_interior .langselect_to .layover_content {
  z-index: 1;
}
.layover_interior .about {
  font-family: crimson;
}
.layover_interior .about h1 {
  margin-left: -100px;
}
.open .layover_interior .about {
  margin-top: -20%;
}
.layover_interior .help {
  font-family: crimson;
}
.layover_interior .help h1 {
  margin-left: -50px;
}
.open_help .layover_interior .help,
.open_langselect_from .layover_interior .help,
.open_langselect_to .layover_interior .help {
  margin-top: -15%;
}
.layover_interior .hello {
  opacity: 1;
  visibility: visible;
}
.open_langselect_from .layover_interior .hello,
.open_langselect_to .layover_interior .hello {
  margin-top: -10%;
}
.layover_interior .hello .logo {
  font-size: 6em;
  visibility: visible;
  opacity: 1;
}
.open .layover_interior .hello .logo {
  visibility: hidden;
  opacity: 0;
}
.layover_interior .hello .logo span span {
  padding: 10px;
  background-color: #ffffff;
  color: #51b8b3;
  border: 10px #ffffff solid;
}
.layover_interior .hello .logo span span:hover {
  color: #ffffff;
  background-color: #51b8b3;
}
.layover_interior .hello .pep {
  margin-left: -50px;
  visibility: hidden;
  opacity: 0;
}
.open .layover_interior .hello .pep {
  visibility: visible;
  opacity: 1;
}
.layover_interior .hello .pep span span {
  padding: 0 15px;
  background-color: #ffffff;
  color: #51b8b3;
}
.layover_interior .langselect_from {
  font-family: montserrat;
}
.layover_interior .langselect_from h1 {
  bottom: 0;
  margin-left: 50px;
}
.open_langselect_from .layover_interior .langselect_from,
.open_langselect_to .layover_interior .langselect_from {
  margin-top: -5%;
}
.layover_interior .langselect_to {
  font-family: montserrat;
}
.layover_interior .langselect_to h1 {
  bottom: 0;
  margin-left: 100px;
}
.about,
.help,
.hello,
.langselect_from,
.langselect_to {
  height: 20%;
  width: 300%;
  left: -100%;
  position: relative;
  float: left;
  color: #ffffff;
  overflow: hidden;
  -webkit-transition: all 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -moz-transition: all 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -o-transition: all 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  transition: all 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}
.open .about,
.open .help,
.open .hello,
.open .langselect_from,
.open .langselect_to {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 5%;
}
.about h1,
.help h1,
.hello h1,
.langselect_from h1,
.langselect_to h1 {
  position: absolute;
  font-family: montserrat;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  height: 20vh;
  width: 100%;
  margin: 0;
  display: table;
  white-space: nowrap;
  z-index: 10;
}
.about h1 span,
.help h1 span,
.hello h1 span,
.langselect_from h1 span,
.langselect_to h1 span {
  height: 18px;
  top: 50%;
  margin-top: -9px;
}
.about h1 > span,
.help h1 > span,
.hello h1 > span,
.langselect_from h1 > span,
.langselect_to h1 > span {
  white-space: nowrap;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
.about h1 > span > span,
.help h1 > span > span,
.hello h1 > span > span,
.langselect_from h1 > span > span,
.langselect_to h1 > span > span {
  border-bottom: 1px #ffffff dotted;
  cursor: pointer;
}
.about h1 > span > span:hover,
.help h1 > span > span:hover,
.hello h1 > span > span:hover,
.langselect_from h1 > span > span:hover,
.langselect_to h1 > span > span:hover {
  border-bottom: 1px #ffffff solid;
}
.about h1:hover span span,
.help h1:hover span span,
.hello h1:hover span span,
.langselect_from h1:hover span span,
.langselect_to h1:hover span span {
  border-bottom: 1px #ffffff dashed;
}
.open .about h1,
.open .help h1,
.open .hello h1,
.open .langselect_from h1,
.open .langselect_to h1 {
  height: 5vh;
}
.about .inlineLogo,
.help .inlineLogo,
.hello .inlineLogo,
.langselect_from .inlineLogo,
.langselect_to .inlineLogo {
  display: inline-block;
  padding: 5px 10px;
  background-color: #51b8b3;
  color: #ffffff;
  font-family: montserrat;
  text-transform: uppercase;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.open.open_about .about.about .inlineLogo,
.open.open_about .about.help .inlineLogo,
.open.open_about .about.hello .inlineLogo,
.open.open_about .about.langselect_from .inlineLogo,
.open.open_about .about.langselect_to .inlineLogo,
.open.open_help .help.about .inlineLogo,
.open.open_help .help.help .inlineLogo,
.open.open_help .help.hello .inlineLogo,
.open.open_help .help.langselect_from .inlineLogo,
.open.open_help .help.langselect_to .inlineLogo {
  opacity: 1;
  visibility: visible;
}
.about .buttons,
.help .buttons,
.hello .buttons,
.langselect_from .buttons,
.langselect_to .buttons {
  display: inline-block;
  margin: 0 8px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.open.open_about .about.about .buttons,
.open.open_about .about.help .buttons,
.open.open_about .about.hello .buttons,
.open.open_about .about.langselect_from .buttons,
.open.open_about .about.langselect_to .buttons,
.open.open_help .help.about .buttons,
.open.open_help .help.help .buttons,
.open.open_help .help.hello .buttons,
.open.open_help .help.langselect_from .buttons,
.open.open_help .help.langselect_to .buttons {
  opacity: 1;
  visibility: visible;
}
.about .buttons span,
.help .buttons span,
.hello .buttons span,
.langselect_from .buttons span,
.langselect_to .buttons span {
  display: inline-block;
  font-family: montserrat;
  text-transform: uppercase;
  padding: 5px 10px;
  border: 2px #51b8b3 solid;
  border-radius: 5px;
  color: #51b8b3;
  background-color: #ffffff;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.about .buttons span:last-of-type,
.help .buttons span:last-of-type,
.hello .buttons span:last-of-type,
.langselect_from .buttons span:last-of-type,
.langselect_to .buttons span:last-of-type {
  margin-right: 5px;
}
.about .buttons span.mac,
.help .buttons span.mac,
.hello .buttons span.mac,
.langselect_from .buttons span.mac,
.langselect_to .buttons span.mac {
  display: none;
}
.cmd .about .buttons span.mac,
.cmd .help .buttons span.mac,
.cmd .hello .buttons span.mac,
.cmd .langselect_from .buttons span.mac,
.cmd .langselect_to .buttons span.mac {
  display: inline-block;
}
.cmd .about .buttons span.windows,
.cmd .help .buttons span.windows,
.cmd .hello .buttons span.windows,
.cmd .langselect_from .buttons span.windows,
.cmd .langselect_to .buttons span.windows {
  display: none;
}
.about a,
.help a,
.hello a,
.langselect_from a,
.langselect_to a {
  color: #51b8b3;
  text-decoration: none;
  border-bottom: 1px dotted #51b8b3;
  position: relative;
  line-height: 30px;
  display: inline-block;
}
.about .layover_content,
.help .layover_content,
.hello .layover_content,
.langselect_from .layover_content,
.langselect_to .layover_content {
  position: absolute;
  overflow: scroll;
  height: 100vh;
  width: 100%;
  top: 20%;
  left: 0;
  padding: 0 33%;
  z-index: -1;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.about .layover_content.unturned,
.help .layover_content.unturned,
.hello .layover_content.unturned,
.langselect_from .layover_content.unturned,
.langselect_to .layover_content.unturned {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  top: 0;
  padding-bottom: 5vh;
}
.about .layover_content .layover_content_interior,
.help .layover_content .layover_content_interior,
.hello .layover_content .layover_content_interior,
.langselect_from .layover_content .layover_content_interior,
.langselect_to .layover_content .layover_content_interior {
  padding: 10% 25% 50% 0;
  color: #51b8b3;
  font-size: 28px;
  line-height: 40px;
}
.about .layover_content.unturned .layover_content_interior,
.help .layover_content.unturned .layover_content_interior,
.hello .layover_content.unturned .layover_content_interior,
.langselect_from .layover_content.unturned .layover_content_interior,
.langselect_to .layover_content.unturned .layover_content_interior {
  padding: 0 30%;
  height: 100%;
  position: relative;
}
.about .layover_content.unturned .layover_content_interior li,
.help .layover_content.unturned .layover_content_interior li,
.hello .layover_content.unturned .layover_content_interior li,
.langselect_from .layover_content.unturned .layover_content_interior li,
.langselect_to .layover_content.unturned .layover_content_interior li {
  list-style: none;
  height: 9%;
  position: relative;
  float: left;
  width: 100%;
  display: table;
  cursor: pointer;
}
.about .layover_content.unturned .layover_content_interior li:hover span span,
.help .layover_content.unturned .layover_content_interior li:hover span span,
.hello .layover_content.unturned .layover_content_interior li:hover span span,
.langselect_from .layover_content.unturned .layover_content_interior li:hover span span,
.langselect_to .layover_content.unturned .layover_content_interior li:hover span span {
  border-bottom: 1px #51b8b3 dashed;
}
.about .layover_content.unturned .layover_content_interior li > span,
.help .layover_content.unturned .layover_content_interior li > span,
.hello .layover_content.unturned .layover_content_interior li > span,
.langselect_from .layover_content.unturned .layover_content_interior li > span,
.langselect_to .layover_content.unturned .layover_content_interior li > span {
  display: table-cell;
  vertical-align: middle;
}
.about .layover_content.unturned .layover_content_interior li > span > span,
.help .layover_content.unturned .layover_content_interior li > span > span,
.hello .layover_content.unturned .layover_content_interior li > span > span,
.langselect_from .layover_content.unturned .layover_content_interior li > span > span,
.langselect_to .layover_content.unturned .layover_content_interior li > span > span {
  border-bottom: 1px #51b8b3 dotted;
}
.about .layover_content.unturned .layover_content_interior li > span > span span,
.help .layover_content.unturned .layover_content_interior li > span > span span,
.hello .layover_content.unturned .layover_content_interior li > span > span span,
.langselect_from .layover_content.unturned .layover_content_interior li > span > span span,
.langselect_to .layover_content.unturned .layover_content_interior li > span > span span {
  text-transform: uppercase;
}
#loadover {
  width: 200%;
  height: 200%;
  position: fixed;
  top: -50%;
  left: -50%;
  z-index: 90;
  visibility: hidden;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#loadover.lay {
  visibility: visible;
}
#loadover div {
  background-color: #51b8b3;
  position: relative;
  float: left;
  height: 2%;
  width: 100%;
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}
#loadover div.LO_odd {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
#loadover div.LO_even {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.lay#loadover div {
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  transform: translate(0);
}
#loadover div:before,
#loadover div:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #51b8b3;
}
#loadover div:before {
  top: -1px;
}
#loadover div:after {
  bottom: -1px;
}
