<div class="helper helping helping_{{helperCount}}"
	ng-class="laidover"
>

	<div class="helper_closer"
		ng-click="layoverClick('')"
	>
		<span class="close_1"></span>
		<span class="close_2"></span>
	</div>

	<div class="helper_text">
		<div class="helper_text_repeat" ng-click="helperRepeat()">
			<span>&nbsp;</span>
		</div>

		<div class="helper_text_left" ng-click="helperMove('left')">
			<div class="top"></div>
			<div class="bottom"></div>
		</div>
		<div class="helper_text_right" ng-click="helperMove('right')">
			<div class="top"></div>
			<div class="bottom"></div>
		</div>

		<div class="helper_text_dots">
			<div class="dot d1"></div>
			<div class="dot d2"></div>
			<div class="dot d3"></div>
			<div class="dot d4"></div>
			<div class="dot d5"></div>
			<div class="dot d6"></div>
			<div class="dot d7"></div>
			<div class="dot d8"></div>
			<div class="dot d9"></div>
			<div class="dot d10"></div>
			<div class="dot d11"></div>
			<div class="dot d12"></div>
			<div class="dot d13"></div>
			<div class="dot d14"></div>
		</div>

			
		<div class="helper_text_welcome ">
			<p>Hi! Welcome to <span>con.ject</span> &mdash; the beautiful translator for folks who do lots of micro-translations. This is a quick tutorial to get you up to speed as quickly as possible. Click the points to have a look!</p>
			<span class="helper_text_welcome_closer"><span>let's go!</span></span>
		</div>

		<div class="helper_text_floater helper_text_1">
			<span class="helper_text_illustrate"></span>
			<span class="helper_text_opener">1</span>
			<div class="helper_text_content">
				<p>The left side of the app is for text input. Once you have finished typing, press</p> 
				<p>
					<span class="buttons windows"><span>ctrl</span> + <span>return</span></span>
					<span class="buttons mac"><span>cmd</span> + <span>return</span></span>
				</p>
				<p>to set the translator to task.</p>

				<p>However, if you're pasting in text, the translator instinctually know to get to work straight away – no need to press anything.</p>
			</div>	
		</div>
		<div class="helper_text_floater helper_text_2">
			<span class="helper_text_illustrate"></span>
			<span class="helper_text_opener">2</span>
			<div class="helper_text_content">
				<p>The result will show up on the right side. Press</p>
				<p><span class="buttons b1"><span>TAB</span></span> </p>
				<p>to select it, and </p>
				<p>
					<span class="buttons b2 windows"><span>ctrl</span> + <span>C</span></span>
					<span class="buttons b2 mac"><span>cmd</span> + <span>C</span></span>
				</p>
				<p>to copy it.</p>
				<p>Double-click on the background of an unselected result to re-select it.</p>
			</div>
		</div>
		<div class="helper_text_floater helper_text_3">
			<span class="helper_text_illustrate"></span>
			<span class="helper_text_opener">3</span>
			<div class="helper_text_content">							
				<p>Single-click on a word to get a list of its synonyms.</p>
				<p>Double-click on a word to copy it to your clipboard.</p>
			</div>
		</div>
		<div class="helper_text_floater helper_text_4">
			<span class="helper_text_illustrate"></span>
			<span class="helper_text_opener">4</span>
			<div class="helper_text_content">
				<p>When selected, you can navigate through results with</p>
				<p>
					<span class="buttons b1"><span>&#8593;</span> & <span>&#8595;</span></span>
				</p>
				<p>and return to the corresponding text box with </p>
				<p>
					<span class="buttons b2"><span>shift</span> + <span>tab</span></span>
				</p>
			</div>
		</div>
		<div class="helper_text_floater helper_text_5">
			<span class="helper_text_illustrate"></span>
			<span class="helper_text_opener">5</span>
			<div class="helper_text_content">
				<p>Jump quickly between language directions with</p>
				<p>
					<span class="buttons windows"><span>ctrl</span> + <span>&#8593;</span> / <span>&#8595;</span></span>
					<span class="buttons mac"><span>cmd</span> + <span>&#8593;</span> / <span>&#8595;</span></span>
				</p>
			</div>
		</div>
		<div class="helper_text_floater helper_text_16">
			<span class="helper_text_illustrate"></span>
			<span class="helper_text_opener">6</span>
			<div class="helper_text_content">
				<p>Clear blocks of text with the handy cross in the middle.</p>
			</div>
		</div>
		<div class="helper_text_floater helper_text_117">
			<span class="helper_text_illustrate"></span>
			<span class="helper_text_opener">7</span>
			<div class="helper_text_content">
				<p>Quickly change languages by clicking on the reference tabs at the edge.</p>
			</div>
		</div>
		<div class="helper_text_floater helper_text_118">
			<span class="helper_text_illustrate"></span>
			<span class="helper_text_opener">8</span>
			<div class="helper_text_content">
				<p>Need a more space in one direction than the other? Resize things with the cube in the middle.</p>
			</div>
		</div>
		<div class="helper_text_floater helper_text_119">
			<span class="helper_text_illustrate"></span>
			<span class="helper_text_opener">9</span>
			<div class="helper_text_content">
				<p>Go to the main menu by clicking on the circle inside the cube.</p>
			</div>
		</div>
		<div class="helper_text_floater helper_text_1110">
			<span class="helper_text_illustrate"></span>
			<span class="helper_text_opener">10</span>
			<div class="helper_text_content">
				<p>That's it! Happy translating!</p>
			</div>
		</div>
	</div>
</div>